body{
	margin: 0px;
	float: left;
	background: #f7fafc;
}

a{
	text-decoration: none;
}

.navigation-head{
	position: fixed;
	width: 100%;
	height: 52px;
	background-color: #FFFFFF;
}

.navigation-container{
	margin: 0 auto;
	width: 960px;
	height: 52px;
}

.logo img{
	width: 50px;
	height: 50px;	
}

.logo{
	float: left;
}

.button-head{
	float: left;
}

.button-head a{
	line-height: 52px;
	margin-left: 30px;
	font-size: 18px;
	color: #8590A6;
}

.button-head a:hover{
	color: #555;
}

.search-head{
	float: left;
	height: 52px;
}

.search-head div{
	float: left;
	margin-left: 30px;
	margin-top: 8px;
}

.search-head div [type="text"]{
	float: left;
	width: 280px;
	height: 34px;
	box-sizing: border-box;
	box-shadow: none;
	outline: #fff;
	border: 0;
	padding-left: 10px;
	background-color: #eee5;
}

.search-head div button{
	float: left;
	width: 34px;
	height: 34px;
	box-sizing: border-box;
	box-shadow: none;
	outline: #fff;
	border: 0;
	box-shadow: none;
	background-color: #eee5;
	cursor: pointer;
}

.search-head div button img{
	width: 21px;
	height: 21px;
}

.information-head{
	float: right;
	margin-top: 8px;
}

.information-head button{
	float: right;
	width: 60px;
	height: 34px;
	outline: #fff;
	border: 0;
	background-color: #00BC9B;
	border-radius: 3px;
	color: #fff;
	margin-right: 20px;
	cursor: pointer;
}

.information-head button:hover{
	background-color: #00B091;
}

.information-head img{
	float: right;
	border-radius: 3px;
	cursor: pointer;
}

/*对隐藏的菜单栏进行设置*/
.list-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1044px;
	height: 200px;
	margin-top: 60px;
}

.list{
	position: absolute;
	right: 0;
	height: 122px;
	width: 120px;
	background-color: #FFFFFF;
	display: none;
}

.list a{
	padding-left: 15px;
	display: flex;
	align-items: center;
	height: 40px;
	color: #8590A6;
}

.list a:hover{
	background-color: #8883;
}

.list a img{
	width: 20px;
	height: 20px;
	margin-right: 6px;
}

/*对隐藏的modal框进行设置*/
.modal{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(26, 26, 26, 0.65);
}

.modal-container{
	display: none;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	width: 550px;
	height: 250px;
	border-radius: 5px;
}

.main-body{
	float: left;
	padding-top: 80px;
}

.main-container{
	position: static;
	margin: 0 auto;
	width: 960px;
}

.main-body-head{
	float: left;
	width: 960px;
	height: 40px;
	border-bottom: 2px solid #8885;
}

.main-body-head-left{
	float: left;
	display: flex;
	align-items: center;
	color: #555;
	font-weight: 700;
}

.main-body-head-left img{
	margin-right: 6px;
	height: 16px;
	width: 16px;
}

.main-body-head-right{
	float: right;
	display: flex;
	align-items: center;
	color: #8590A6;
}

.main-body-head-right img{
	margin-right: 6px;
	height: 16px;
	width: 16px;
}

.main-body-body{
	float: left;
}

.items{
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #9996;
}

.items-left{
	float: left;
	width: 60px;
}

.items img{
	border-radius: 2px;
	height: 38px;
	width: 38px;
}

.items-left button{
	margin-top: 10px;
	height: 24px;
	width: 38px;
	padding: 0;
	border: 0;
	border-radius: 3px;
	outline: #fff;
	color: #111;
	background: #25bb9b;
}

.items-left button:hover{
	color: #fff;
	background: #25bb9b;
}

.items-right{
	float: left;
	width: 900px;
}

.items-right-head{
	line-height: 20px;
	color: #999;
	font-size: 13px;
}

.items-right-head a{
	color: #333;
	font-size: 14px;
	font-weight: 700;
}

.items-right-head a:hover{
	color: #00B091;
}

.items-right-body{
	margin-top: 10px;
}

.items-right-body a{
	color: #333;
	font-size: 13px;
	font-weight: 600;
}

.items-right-body a:hover{
	color: #00B091;
}

.title{
	font-size: 13px;
	font-weight: 400;
}

.text-part{
	line-height: 1.7;
	font-size: 13px;
	font-weight: 400;
}

.text-part a{
	font-size: 13px;
	font-weight: 400;
	color: #00BC9B;
}

.items-right-foot{
	margin-top: 10px;
}

.items-right-foot a{
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 400;
	color: rgba(100,100,100,.5);
}

.items-right-foot a img{
	width: 15px;
	height: 15px;
	color: rgba(100,100,100,.5);
}
