<html xmlns:th="http://www.thymeleaf.org">

<div class="index-header" th:fragment="head">
    <div class="index-wrap">
        <a href="#" th:href="@{/}" class="index-logo"></a>
        <div class="index-search">
            <form action="" method="get" class="search-form">
                <input type="text" class="search-box" name="" id="" placeholder="搜索你感兴趣的内容..."/>
                <button type="submit" class="search-button">
                    <span class="search-img"></span>
                </button>
            </form>
        </div>
        <div class="index-nav">
            <ul>
                <li class="nav-mainpage nav-li">
                    <a href="#" th:href="@{/}" class="nav-link">首页</a>
                </li>
                <li class="nav-li">
                    <a href="" class="nav-link nav-other-link">发现</a>
                </li>
                <li class="nav-li">
                    <a href="" class="nav-link nav-other-link" data-toggle="modal" data-target="#msg">消息</a>
                </li>
            </ul>
        </div>
        <div class="index-user menu">
            <ul>
                <li>
                    <a href="#" class="user-info">
                        <span th:text="${user.username} == null ? '未登录' : ${user.username}">未登录</span>
                        <img class="user-portrait" src="" th:src="${user.headUrl} == null ? '../static/images/da8e974dc_is.jpg' : ${user.headUrl}">
                    </a>
                    <ul class="nav-dropdown">
                        <li class="sec-nav">
                            <a href="#" th:if="${user.id != null}" th:href="@{/user/{userId}(userId = ${user.id})}"
                               class="btn-hover">
                                <i class="nav-home nav-icon"></i>我的主页
                            </a>
                            <a href="#" th:if="${user.id == null}" th:href="@{/loginToHtml}"
                               class="btn-hover">
                                <i class="nav-home nav-icon"></i>我的主页
                            </a>
                        </li>
                        <li class="sec-nav">
                            <a href="#" th:href="@{/msg/list}" class="btn-hover">
                                <i class="nav-mess nav-icon"></i>私信
                            </a>
                        </li>
                        <li class="sec-nav last-nav">
                            <a href="#" th:href="@{/logout}" class="bottom-radius btn-hover">
                                <i class="nav-out nav-icon"></i>退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button type="button" class="index-question" data-toggle="modal" data-target="#ask">提问</button>
    </div>
</div>

<div class="modal fade" id="ask" tabindex="-1" role="dialog" aria-labelledby="askLabel" th:fragment="askModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="askLabel">提问</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title" class="control-label">标题:</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="content" class="control-label">问题说明:</label>
                        <!--<div class="test-textarea" contenteditable="true" id="content"><br/></div>-->
                        <textarea style="width: 100%;height: 100%;" class="form-control" id="content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="release">发布</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="msg" tabindex="-1" role="dialog" aria-labelledby="msgLabel" th:fragment="msgModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="msgLabel">消息</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title" class="control-label">接收人:</label>
                        <input type="text" class="form-control" id="toName">
                    </div>
                    <div class="form-group">
                        <label for="content" class="control-label">内容:</label>
                        <!--<div class="test-textarea" contenteditable="true"><br/></div>-->
                        <textarea style="width: 100%;height: 100%;" class="form-control" id="message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="send">发送</button>
            </div>
        </div>
    </div>
</div>
