<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

	<head>
		<meta charset="utf-8" />
		<title>首页</title>
		<link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../static/style/index.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/footermodel.css"/>
		<link rel="stylesheet" type="text/css" href="../static/style/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/style/BS.css" />
	</head>

	<body>
        <!--头-->
        <div th:replace="header :: head"></div>
        <div th:replace="header :: askModal"></div>
        <div th:replace="header :: msgModal"></div>
        <!--body-->
		<div class="index-content">
			<div class="content-headline">
				<div class="dynamic-icon">
				</div>
				最新动态
				<span class="head-set">
					<a href="" class="word-color">
						<div class="set-icon">
						</div>
						设置
					</a>
				</span>
			</div>
			<div class="content-list" th:each="vo : ${vos}">
				<div class="list-item">
					<div class="item-inner">
						<div class="item-portrait">
							<a href=""><img th:src="${vo.get('user').headUrl}" src="../static/images/allstar.jpg" /></a>
						</div>
						<div class="item-main">
							<div class="item-source">
								最新问题
								<a href="" class="ignore"></a>
							</div>
							<div class="item-content">
								<h2>
                                    <a href="#" class="item-title"
                                       th:href="@{/question/{questionId}(questionId = ${vo.get('question').id})}"
                                       th:utext="${vo.get('question').title}">电动力学</a>
                                </h2>
								<div class="item-body">
									<div class="body-like">
										<a href="" class="body-like-count">1082</a>
									</div>
									<div class="author-info">
										<a href="#" th:href="@{/user/{id}(id=${vo.get('user').id})}" th:text="${vo.get('user').username}">赵永峰</a>
                                        <span th:text="${#dates.format(vo.get('question').createDate, 'yyyy-MM-dd HH:mm:ss')}">time</span>
									</div>
									<div class="post-content">
										<div class="summary" th:utext="${vo.get('question').content}">
											电动力学的推荐书是两本：1、Griffiths《Introduction to Electrodynamics》…
										</div>
										<!--<a href="" class="toggle-expand">显示全部</a>-->
									</div>
									<div class="feed-meta">
										<div class="meta">
											<div class="meta-panel">
												<a href="" class="follow meta-item">
													<div class="follow-icon">
													</div>
													关注问题
												</a>
												<a href="#" class="comment meta-item"
                                                   th:utext="'<div class=&quot;comment-icon&quot;></div> ' + ${vo.get('question').commentCount} + ' 条评论'">
													<div class="comment-icon">
													</div>
													100条评论
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<a href="" class="button-more">更多</a>
		</div>
        <!--footer-->
		<div th:replace="footer :: footer"></div>
		<script src="../static/script/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/script/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="#" th:src="@{/script/index.js}" type="text/javascript" charset="utf-8"></script>
	</body>

</html>

<script>

</script>