<!DOCTYPE html>
<html lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-itunes-app" content="app-id=432274380">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="description" content="一个真实的网络问答社区，帮助你寻找答案，分享知识。">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>牛客 - 与世界分享你的知识、经验和见解</title>
    <link rel="dns-prefetch" href="">
    <link rel="stylesheet" href="../static/styles/login.css">
    <meta name="google-site-verification" content="FTeR0c8arOPKh8c5DYh_9uu98_zJbaWw53J-Sch9MTg">
    <meta name="baidu-site-verification" content="KPFppAFoYF4Kkdv9">
    <meta property="qc:admins" content="00544670776201056375">
    <link rel="canonical" href="">
    <meta id="znonce" name="znonce" content="5b6d120cad4b45f3ad5a8683c30594c0">
    <!--[if lt IE 9]>
    <script src="https://static.zhihu.com/static/components/respond/dest/respond.min.js"></script>
    <link href="https://static.zhihu.com/static/components/respond/cross-domain/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="/static/components/respond/cross-domain/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
    <script src="/static/components/respond/cross-domain/respond.proxy.js"></script>
    <![endif]-->
    <script type="text/javascript" async="" src="../static/scripts/za-0.1.1.min.js"></script>
    <script async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <script src="../static/scripts/instant.e7a17de6.js"></script>
    </head>
<body class="zhi  no-auth">
    <div class="index-main">
        <div class="index-main-body">
            <div class="index-header">
                <h1 class="logo hide-text"><img src="../static/images/res/nk.png" alt=""></h1>
                <h2 class="subtitle" th:text="${msg} != null ? ${msg} : '与世界分享你的知识、经验和见解'"></h2>
            </div>
            <div class="desk-front sign-flow clearfix sign-flow-simple">
                <div class="view view-signin" data-za-module="SignInForm" style="display: block;">
                    <form novalidate="novalidate" id="loginForm" action="" method="post">
                        <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
                        <div class="group-inputs">
                            <div class="email input-wrapper">
                                <input type="text" name="username" aria-label="手机号或邮箱" placeholder="手机号或邮箱" required="">
                            </div>
                            <div class="input-wrapper">
                                <input type="password" name="password" aria-label="密码" placeholder="密码" required="">
                            </div>
                            <div class="input-wrapper captcha-module" data-type="en">
                                <input id="captcha" name="" placeholder="验证码" required="" data-rule-required="true" data-msg-required="请填写验证码" class="is-ignoreValidation">
                                <div class="captcha-container">
                                    <img class="js-refreshCaptcha captcha" width="120" height="30" data-tip="s$t$看不清楚？换一张" alt="验证码">
                                </div>
                            </div>
                        </div>
                        <div class="button-wrapper command clearfix">
                            <button class="sign-button submit" type="submit" id="login">登录</button>
                            <button class="sign-button submit" type="submit" id="reg">注册</button>
                        </div>
                        <div class="signin-misc-wrapper clearfix">
                            <label class="remember-me">
                                <input type="checkbox" name="remember_me" checked="" value="true"> 记住我
                            </label>
                            <a class="unable-login" href="#">无法登录?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/json" class="json-inline" data-name="disabled_components">["back_to_top"]</script>
    <script type="text/json" class="json-inline" data-name="current_user">["","","","-1","",0,0]</script>
    <script type="text/json" class="json-inline" data-name="env">["zhihu.com","comet.zhihu.com",false,null,false]</script>
    <script type="text/json" class="json-inline" data-name="ga_vars">{"user_created":0,"now":1467946521000,"abtest_mask":"------------------------------","user_attr":[0,0,0,"-","-"],"user_hash":0}</script>
    <script src="../static/scripts/vendor.ff76fbae.js"></script>
    <script src="../static/scripts/base.fb262f0e.js"></script>
    <script src="../static/scripts/common.fed5411f.js"></script>
    <script src="../static/scripts/page-index.d7b54ac7.js"></script>
    <meta name="entry" content="ZH.entrySignPage" data-module-id="page-index">
    <input type="hidden" name="_xsrf" value="21aa1c8d254df2899b23ab9afbd62a53">
    <div id="zh-tooltip"></div>

    <div id="particles">
        <canvas class="particles-js-canvas-el" width="1366" height="608" style="width: 100%; height: 100%;"></canvas>
    </div>
    <script type="text/javascript">
        document.getElementById("reg").addEventListener("click", function()
        {
            var loginForm = document.getElementById("loginForm");
            loginForm.action = '/reg';
            loginForm.submit();
        });
        document.getElementById("login").addEventListener("click", function()
        {
            var loginForm = document.getElementById("loginForm");
            loginForm.action = '/login';
            loginForm.submit();
        });
    </script>
</body>
</html>