<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8"/>
    <title>登录</title>
    <link rel="shortcut icon" type="image/x-icon"
          href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" href="../static/style/login.css" th:href="@{/style/login.css}"/>
</head>
<body>
<div class="main">
    <div class="main-body">
        <div class="main-body-header">
            <img id="logo" src="../static/images/书籍.png"/>
            <h3 th:text="${msg} != null ? ${msg} : '与世界分享你刚编的故事!'">与世界分享你的知识,经验,和见解!</h3>
        </div>

        <form id="loginForm" action="" method="post">
            <input type="hidden" name="next" th:value="${next}"/>
            <div class="main-body-input">
                <div class="username">
                    <input type="text" name="account" placeholder="手机号或者邮箱"/>
                    <label class="error">请输入用户名</label>
                </div>
                <div class="cut-off">
                    <input type="text" name="password" placeholder="密码"/>
                    <label class="error">请输入密码</label>
                </div>
            </div>
            <div class="main-body-button">
                <button id="login" class="login"><font color="#FFFFFF" size="4">登录</font></button>
                <button id="reg" class="register"><font color="#FFFFFF" size="4">注册</font></button>
            </div>
            <div class="main-body-foot">
                <label class="remember">
                    <input type="checkbox" name="remember_me" checked/>记住我
                </label>
                <a href="#" class="cant">无法登录?</a>
            </div>
        </form>

    </div>
</div>
</body>
</html>
<script type="text/javascript" src="../static/script/jquery-3.3.1.min.js"
        th:src="@{/script/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" src="../static/script/login.js" th:src="@{/script/login.js}"></script>